---
import Audio from "@/components/Audio.tsx";
import { tableBaseClass, codaCellClass } from "@/components/jyutping/tableStyles";
---

<div class="overflow-x-auto">
  <table class={tableBaseClass}>
    <tbody>
      <tr>
        <td class={codaCellClass} lang="yue">
          i [iː] 詩 <Audio client:load id="si1" />
          <br />i<sub>後接 -ng, -k</sub> [e] 星 <Audio client:load id="sing1" /> 識
          <Audio client:load id="sik1" />
          <br />
          yu [y] 書 <Audio client:load id="syu1" />
        </td>
        <td class={codaCellClass} lang="yue"></td>
        <td class={codaCellClass} lang="yue">
          u [uː] 夫 <Audio client:load id="fu1" />
          <br />u<sub>後接 -ng, -k</sub> [o] 風 <Audio client:load id="fung1" /> 福
          <Audio client:load id="fuk1" />
        </td>
      </tr>
      <tr>
        <td class={codaCellClass} lang="yue">
          e<sub>後接 -i</sub> [e] 四 <Audio client:load id="sei3" />
          <br />
          eo [ɵ] 詢 <Audio client:load id="seon1" />
        </td>
        <td class={codaCellClass} lang="yue"></td>
        <td class={codaCellClass} lang="yue">
          o<sub>後接 -u</sub> [o] 蘇 <Audio client:load id="sou1" />
        </td>
      </tr>
      <tr>
        <td class={codaCellClass} lang="yue">
          e [ɛː] 些 <Audio client:load id="se1" />
          <br />
          oe [œː] 鋸 <Audio client:load id="goe3" />
        </td>
        <td class={codaCellClass} lang="yue">
          a [ɐ] 新 <Audio client:load id="san1" />
        </td>
        <td class={codaCellClass} lang="yue">
          o [ɔː] 疏 <Audio client:load id="so1" />
        </td>
      </tr>
      <tr>
        <td class={codaCellClass} lang="yue"></td>
        <td class={codaCellClass} lang="yue">
          aa [aː] 沙 <Audio client:load id="saa1" />
        </td>
        <td class={codaCellClass} lang="yue"></td>
      </tr>
    </tbody>
  </table>
</div>
